<div class="page">
  <div class="header">Tervetuloa Teuton companyn nettisivulle</div>
  <div class="common-text">
    Teuton company on vuonna 2021 perustettu ja rekisteröity IT-alan erikoisyritys joka tuottaa
    pääasiassa erilaisia peliassetteja ja pelejä, mutta myös nettisivuja kohtuullisin hinnoin.
    Jos sinulla on tällä hetkellä hyvä kotisivu- ja/tai peli-idea, ota yhteyttä edustajaamme, tällä
    hetkellä ainoastaan sähköpostin avulla.
  </div>
  <app-text-card route="prefabs" iconPath="assets/Carbine.png" text="Prefabs: jos etsit laadukkaita itsellesi customoituja prefabeja, olet löytänyt oikean paikan, ne ovat Teutonin erikoisala"></app-text-card>
  <app-text-card route="games" iconPath="assets/Cars-rally.png" text="Games: Teuton on toteuttanut joitain pelejä yksin, mutta pää-asiassa projektitöinä muiden firmojen kanssa, tällaiset pelit eivät ole saatavilla nettisivullamme puuttuvien oikeuksien takia (tällä hetkellä ei muuten saa mitään muutakaan)"></app-text-card>
  <app-text-card route="web-pages" iconPath="assets/Web%20page%20img.png" text="Web pages: Teuton tuottaa myös nettisivuja, mutta valitettavasti tämä palvelu ei ole tällä hetkellä saatavissa, johtuen puuttuvasta maksujärjestelmästä"></app-text-card>
  <app-text-card route="icon" iconPath="assets/all%20sizes.png" text="Icon service: Teuton tuottaa myös halpoja ikoneita/logoja tarvitsemme vain hiukan tietoja ja kohta logosi on valmis"></app-text-card>
  <div class="common-text">
    Jos näitä tietoja tarkastellessasi sait jonkun erikoisen idean,
    joka ei kuitenkaan sisälly ilmoitettuihin palveluihin ilmoita siitä ehdottomasti meille,
    arvioidaksemme työmäärän, hinnan ja mahdollisuutemme toteuttaa kyseisen ehdotuksen
  </div>
</div>
