<div class="page">
  <div class="header">Pelit</div>
  <div class="common-text">
    Teuton on itse tuottanut tähän mennessä vain hyvin vähän omia pelejä,
    mutta on ollut paljonkin tekemisissä muiden firmojen kanssa näillä asioilla
  </div>
  <app-text-card route="frontpage" text="Engine I: Kevyt ja hauska autokisa joka toimii laitteella kuin laitteella"></app-text-card>
  <app-text-card route="frontpage" text="Tank Masters: Todella simppeli kaksinpelattava panssarivaunutaistelu"></app-text-card>
  <hr>
  <div class="common-text">
    Tulossa pian
  </div>
  <app-text-card text="Clash of Special forces: Jännittävä joukkuepeli jossa molemmat osapuolet pyrkivät saamaan kentän hallintaansa tuhoamalla vastustajan"></app-text-card>
  <hr>
  <div class="common-text">
    Muita projekteja
  </div>
  <app-text-card text="Hunt I: Legendaarinen ja kauan odotettu metsästyspeli kaikille sohvaperunoille, Koe metsästämisen tunne vaikka omalta kotisohvaltasi"></app-text-card>
  <app-text-card text="Call of wings: pyrähdä yläilmoihin ja kohtaa vastustajasi rehellisessä kaksintaistelussa ohjusten suhinassa ja konekiväärien rätinässä"></app-text-card>
  <div class="common-text">
    Teutonin yhteistyössä muiden firmojen kanssa on syntynyt useita peliprojekteja, joista vain osa on valmistunut lopullisesti
  </div>
</div>
